body {
    background-image: url('../images/background.jpg');
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: #393636;
    border-radius: 30px;
    box-shadow: 0 0 0 #393636;
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 400px;
    text-align: center;
    color: #fff
}

img { width: 50px; }
h3 { margin: auto; }

.logo {
    font-size: 40px;
    margin-left: 5px;
    font-weight: bold;
    position: relative;
    top: -6px;
}

input {
    display:block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 20px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    border: none;
    color: black;
    cursor: pointer;
    background-color: #fff;
    width: 100%;
    font-size: 16px;
    font-weight: bolder;
}

li { list-style: none; } 
a { color: #fff; }

li a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
    transition: all .6s ease;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
